@import '../abstracts/fonts';
@import '../abstracts/mixins';
@import '../abstracts/variables';

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
}
