@import '../../styles/abstracts/fonts';

.header {
  position: relative;
  padding: 1rem;
}

.backArrow {
  margin-left: 1rem;
  position: absolute;
  left: 0;
}

.navigationPath {
  text-transform: capitalize;
  font-family: $secondary-font;
}

.homePath {
  font-family: $secondary-font;
}
